.terrain__flex-container {
  display: flex;
  align-items: flex-start;
  margin: 124px 82px 0 71px;
  gap: 24px;
}

.terrain__slider-container {
  width: 62%;
  position: relative;
}

.terrain__image {
  width: 709px;
  height: 457px;
  border-radius: 50px;
}

.terrain__slider-dots {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 50%;
}

.terrain__slider-dot {
  width: 80px;
  height: 2px;
  background-color: var(--grey-color);
  margin: 0 4px;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.terrain__slider-dot.active {
  background-color: var(--blue-color);
}

.terrain__slider-navigation {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}

.terrain__nav-button {
  width: 40px;
  height: 40px;
  border: none;
  transition: background-color 0.3s ease;
  background-position: initial;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.terrain__nav-button:hover {
  transform: scale(0.9);
}

.terrain__nav-button_left {
  background-image: url(../../images/button-slider.svg);
}

.terrain__nav-button_right {
  background-image: url(../../images/button-slider-right.svg);
}

.terrain__description {
  width: 25%;
  margin-top: 58px;
}

.terrain__header {
  width: 394px;
  min-height: 90px;
  margin: 0 auto;
  margin-bottom: 25px;
  color: var(--blue-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.24;
  text-transform: uppercase;
}

.terrain__text {
  width: 394px;
  min-height: 90px;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
}
