.form {
  margin-top: 120px;
  margin-left: calc((100% - 1138px) / 2);
}

.form__flex-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.form__image-container {
  width: 293px;
  height: 343px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0,98,189,1), rgba(0,102,255,1));
  border-radius: 50px;
  cursor: pointer;
}

.form__preview {
  width: 293px;
  height: auto;
  border-radius: 25px;
}

.form__photo-placeholder {
  width: 52px;
  height: 52px;
  margin-bottom: 20px;
}

.form__image-placeholder {
  color: var(--white-color);
  max-width: 109px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form__text-placeholder {
  font-family: "Unbounded";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.form__contacts {
  margin-bottom: 30px;
}

.form__input {
  width: 395px;
  height: 40px;
  padding: 0 0 0 20px;
  border: none;
  outline: 2px solid var(--light-grey-color);
  border-radius: 25px;
  box-sizing: border-box;
}

.form__input:active, .form__input:hover, .form__input:focus {
  outline: 2px solid var(--orange-color);
}

.form__input_review {
  padding-top: 19px;
  margin-bottom: 20px;
  width: 814px;
  height: 160px;
}

.form__star-text {
  color: var(--blue-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.22;
}

.form__star-rating {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form__star {
  font-size: 30px;
  color: lightgray;
  transition: color 0.2s;
}

.form__star.filled {
  color: var(--orange-color);
}

.form__star-text {
  margin: 0;
  padding: 0;
}

.form__button {
  width: 253px;
  height: 39px;
  background-color: var(--blue-element-color);
  color: var(--white-color);
  border: none;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.22;
  text-transform: uppercase;
}

.form__notice {
  margin: 0;
  padding: 0;
  max-width: 544px;
  font-size: 14px;
  font-weight: 400;
}
