.review__scroll-container {
  margin-top: 120px;
  display: flex;
  align-items: center;
}

.review__scroll-wrapper {
  width: 90%;
  overflow-x: auto;
}

.review__scroll-content {
  display: flex;
}

.review-card {
  margin-right: 24px;
}

.review__photo {
  width: 291px;
  height: 230px;
  border-radius: 25px;
}

.review__name {
  color: var(--blue-element-color);
  font-family: "Unbounded";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.22;
}

.review__review {
  max-width: 395px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.22;
}

.review__scroll-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.review__scroll-button_left {
  background-image: url(../../images/button-slider.svg);
}

.review__scroll-button_right {
  background-image: url(../../images/button-slider-right.svg);
}

.review__scroll-button:hover {
  transform: scale(0.9);
}
